# ==========================================
# macOS System Files
# ==========================================
.DS_Store
.DS_Store?
._*


# ==========================================
# macOS Development Tools
# ==========================================
*.swp
*.dmg
*.pkg

# ==========================================
# private
# ==========================================
.env.local